<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ ad?.title || 'Ad Details' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="ad">
  <div class="carousel-container" *ngIf="ad.images?.length">
    <img [src]="ad.images[currentImageIndex]" class="carousel-img" />
  
    <ion-button fill="clear" size="small" class="carousel-button left"
      *ngIf="ad.images.length > 1"
      (click)="prevImage(); $event.stopPropagation()">
      ‹
    </ion-button>
  
    <ion-button fill="clear" size="small" class="carousel-button right"
      *ngIf="ad.images.length > 1"
      (click)="nextImage(); $event.stopPropagation()">
      ›
    </ion-button>
  </div>

  <ion-chip color="primary">
    <ion-label>{{ ad.adType === 'rent' ? 'For Rent' : 'For Sale' }}</ion-label>
  </ion-chip>

  <div *ngIf="ad?.latitude && ad?.longitude" id="map" class="map-container"></div>

  <div class="description-container">
    <div class="info">
      <ion-icon name="location-outline" />
      <ion-label>{{ ad.location }}</ion-label>
      <ion-icon name="pricetag-outline" />
      <ion-label>€{{ ad.price }}</ion-label>
      <ion-icon name="bed-outline" />
      <ion-label>{{ ad.bedrooms }} Bedrooms</ion-label>
      <ion-icon name="water-outline" />
      <ion-label>{{ ad.bathrooms }} Toilets</ion-label>
    </div>

    <div class="social">
      <!-- <ion-icon name="bookmark-outline" />
      <ion-label>{{ ad.bookmarks || 0 }}</ion-label> -->      
    </div>

    <ion-button [disabled]="hasBooked" (click)="bookViewing()">
      <ion-icon name="chatbubbles-outline" />
      <ion-label>{{ hasBooked ? 'View Booked' : 'Book a view' }}</ion-label>
    </ion-button>

    <ion-text>
      <h1>{{ ad.title }}</h1>
      <p>{{ ad.description }}</p>
    </ion-text>
  </div>
</ion-content>