<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ ad?.title || 'Ad Details' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="ad">
  <div class="carousel-wrapper">
    <img [src]="ad.images[currentImageIndex]" class="carousel-img" *ngIf="ad.images?.length" />

    <div class="carousel-controls">
      <ion-button fill="clear" (click)="prevImage()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-label>{{ currentImageIndex + 1 }} / {{ ad.images.length }}</ion-label>
      <ion-button fill="clear" (click)="nextImage()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-chip color="primary">
    <ion-label>{{ ad.adType === 'rent' ? 'For Rent' : 'For Sale' }}</ion-label>
  </ion-chip>
  

  <div class="description-container">
    <div class="info">
      <ion-icon name="location-outline" />
      <ion-label>{{ ad.location }}</ion-label>
      <ion-icon name="pricetag-outline" />
      <ion-label>€{{ ad.price }}</ion-label>
      <ion-icon name="bed-outline" />
      <ion-label>{{ ad.bedrooms }} Bedrooms</ion-label>
      <ion-icon name="water-outline" />
      <ion-label>{{ ad.bathrooms }} Toilets</ion-label>
    </div>

    <div class="social">
      <ion-icon name="bookmark-outline" />
      <ion-label>{{ ad.bookmarks || 0 }}</ion-label>
      <ion-icon name="chatbubbles-outline" />
      <ion-label>Message</ion-label>
    </div>

    <ion-text>
      <h1>{{ ad.title }}</h1>
      <p>{{ ad.description }}</p>
    </ion-text>
  </div>
</ion-content>
