<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ ad?.title || 'Ad Details' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="ad">

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let image of ad?.images">
        <img [src]="image" class="carousel-img" />
      </div>
    </div>
  
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
  
  
  

  <div class="description-container">
    <div class="info">
      <ion-icon name="location-outline" />
      <ion-label>{{ ad.location }}</ion-label>
      <ion-icon name="pricetag-outline" />
      <ion-label>€{{ ad.price }}</ion-label>
      <ion-icon name="bed-outline" />
      <ion-label>{{ ad.bedrooms }} Bedrooms</ion-label>
      <ion-icon name="water-outline" />
      <ion-label>{{ ad.bathrooms }} Toilets</ion-label>
    </div>

    <div class="social">
      <ion-icon name="eye-outline" />
      <ion-label>{{ ad.views || 0 }}</ion-label>
      <ion-icon name="bookmark-outline" />
      <ion-label>{{ ad.bookmarks || 0 }}</ion-label>
      <ion-icon name="chatbubbles-outline" />
      <ion-label>Chat</ion-label>
    </div>

    <ion-text>
      <h1>{{ ad.title }}</h1>
      <p>{{ ad.description }}</p>
    </ion-text>
  </div>
</ion-content>
