.image-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 16px;

  .preview-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
}