<ion-header>
  <div class="header-menu">
    <ion-buttons>
      <ion-button (click)="goToBookmarks()">
        <ion-icon name="bookmarks"></ion-icon>
      </ion-button>
      <ion-button (click)="createAd()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="goToMyBookings()">
        <ion-icon name="chatbubble"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content class="ion-padding">
  
  <ng-container *ngIf="!loading; else loadingSpinner">
    <ion-list *ngIf="ads.length > 0; else noAds">
      <ion-item *ngFor="let ad of ads">
        <app-ad-card [ad]="ad"></app-ad-card>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #loadingSpinner>
    <div class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Loading your ads...</p>
    </div>
  </ng-template>

  <ng-template #noAds>
    <div class="no-ads-container">
      <p>No ads found for your account.</p>
    </div>
  </ng-template>
</ion-content>

