<ion-header>
  <div class="header-menu">
    <ion-buttons>
      <ion-button (click)="showBookmarks()">
        <ion-icon name="bookmarks"></ion-icon>
      </ion-button>
      <ion-button (click)="createAd()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="showMessages()">
        <ion-icon name="chatbubble"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</ion-header>
<ion-content class="ion-padding">
  <ion-list *ngIf="ads.length > 0; else noAds">
    <ion-item *ngFor="let ad of ads">
      <app-ad-card [ad]="ad"></app-ad-card>
    </ion-item>
  </ion-list>
  
  <ng-template #noAds>
    <p style="justify-content: center; text-align: center; margin-top: 20hv;">No ads found for your account.</p>
  </ng-template>
  
</ion-content>
