<ion-header>
  <div class="header-menu">
    <ion-buttons>
      <ion-button (click)="showBookmarks()">
        <ion-icon name="bookmarks"></ion-icon>
      </ion-button>
      <ion-button (click)="createAd()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="showMessages()">
        <ion-icon name="chatbubble"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</ion-header>
<ion-content>
  <ion-list>
    <app-ad-card *ngFor="let ad of ads" [ad]="ad"></app-ad-card>
  </ion-list>  
</ion-content>