<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-header">
    
    <div class="edit">
      <ion-button fill="clear" (click)="toggleEditMode()">
        <ion-icon [name]="isEditing ? 'checkmark-outline' : 'pencil-outline'" size="large"></ion-icon>
      </ion-button>
    </div>

    <ion-avatar class="profile-avatar">
      <img [src]="avatar || 'assets/img/avatar-default.svg'" alt="Profile Picture" />
    </ion-avatar>

    <ion-item lines="none" *ngIf="isEditing">
      <input type="file" accept="image/*" (change)="onFileSelected($event)" />
    </ion-item>

    <h2 class="profile-name">{{ profileData.name || 'No Name' }}</h2>
    <p class="profile-email">{{ profileData.email }}</p>
  </div>

  <ion-list>
    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="profileData.phone" [readonly]="!isEditing"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="profileData.address" [readonly]="!isEditing"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="briefcase-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="profileData.occupation" [readonly]="!isEditing"></ion-input>
    </ion-item>
  </ion-list>

  <div class="save-button ion-padding" *ngIf="isEditing">
    <ion-button expand="full" (click)="editProfile()">Save Changes</ion-button>
  </div>

  <div class="logout">
    <ion-button (click)="logoutUser()">
      <ion-icon name="exit-outline" size="large"></ion-icon>
    </ion-button>
  </div>
</ion-content>
