<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="image-container">
    <ion-img src="https://images.pexels.com/photos/7768228/pexels-photo-7768228.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input
        [(ngModel)]="gEmail"
        name="email"
        type="email"
        fill="outline"
        label="Email">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input
        [(ngModel)]="gPassword"
        name="password"
        type="password"
        fill="outline"
        label="Password">
      </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="loginUser()">Login</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button fill="clear" (click)="goToRegister()">Create an Account</ion-button>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
